@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #000; /** white */
  --secondary-color: #9ca4af; /** black */
  --text-color: #636363;
}
html {
  @apply bg-gray-500;
}
#root {
  min-height: 100vh;
}
.leaflet-control-attribution {
  display: none;
}
.bg-primary {
  background-color: var(--primary-color);
}
.bg-secondary {
  background-color: var(--secondary-color);
}
.border-secondary {
  border-color: var(--secondary-color);
}
.text-secondary {
  color: var(--secondary-color);
}
.text-default {
  color: var(--text-color);
}
